# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*/dist/
*/build/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.history
*/.history/
package-lock.json
*/package-lock.json