.ag-theme-quartz .ag-root-wrapper,
.ag-theme-quartz-dark .ag-root-wrapper {
  border: none !important;
  background-color: transparent;
  ::-webkit-scrollbar {
    display: none;
  }
}

.ag-theme-quartz .ag-row,
.ag-theme-quartz-dark .ag-row {
  background-color: transparent;
}

.ag-theme-quartz .ag-header,
.ag-theme-quartz-dark .ag-header {
  background-color: transparent;
}

.ag-row:hover {
  background-color: #5f5f5f13 !important;
}

.ag-row {
  font-family: 'Inter', sans-serif !important;
}